NEXT_PUBLIC_SITE_URL=https://heitor.pelizaro.com.br
NEXT_PUBLIC_GITHUB_URL=https://github.com/heitorpelizaro
NEXT_PUBLIC_EMAIL=heitor@pelizaro.com.br
NEXT_PUBLIC_PRONTO_DENTAL_URL=https://italo.pelizaro.com.br
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/heitor.pelizaro/
# Opcional: iframe de serviço tipo SnapWidget (feed embutido)
# NEXT_PUBLIC_INSTAGRAM_WIDGET_IFRAME_SRC=
NEXT_PUBLIC_LINKEDIN_URL=
